<!DOCTYPE html>
<html>
  <head>
    <title>ETicaret</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <div id="header">
      <div class="container">
        <h3><%= link_to 'Samet Ali SAMETOĞLU', root_path %></h3>
        <ul>
            <li><%= link_to 'Markalar', brands_path %></li>
              <li><%= link_to 'Ürünüler', products_path %></li>
        </ul>
      </div>
    </div>

    <div id="content">
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
